.bg-container {
  background-color: #0f172a;
  position: absolute;
  width: 1440px;
  height: 300px;
  left: 0px;
  top: 1268px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.para {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  text-align: center;

  color: #ffffff;
}

.para-container {
  color: white;
}

.icons-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  color: white;
  height: 40;
  width: 40;
  margin: 20px;
}

.logo-sub {
  color: white;
}

.logo-heading {
  color: white;
}
